@import '/src/scss/colors.scss';
@import '/src/scss/buttons.scss';

.frame {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin-left: 15%;
}

.articulo {
    display: flex;
    flex-direction: row;
    width: 65%;
    padding: 50px;

    .img {
        flex: 1;
        img{ 
            box-shadow: 3px 3px 10px black;
            border-radius: 20px;
            max-height: 40vh;
            max-width: 20vw;
        }
    }

    .descripcion {
        color: white;
        display: flex;
        flex: 5;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 40px 10px 40px;

        hr{ width: 100% }
        mat-chip { background-color: $accent; margin-bottom: 20px;}
        blockquote{ flex: 2;}
        label{ color: white;}
        span{ color: $accent; }

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .categorias { flex: 1;}
    }


}

@media (max-width: 950px) {
    .frame {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        width: 100%;
    }
    .articulo {
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        padding: 10px;
        width: 100%;
    
        .descripcion {
            flex: none;
            flex-direction: column;
            min-height: 20vh;
    
            blockquote{ flex: none; margin-bottom: 20px;}
            .categorias { flex: none; margin-bottom: 20px;}
        }
    
    
    }
}