/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
html {
    background-color: teal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

// @import './app/app.component.scss';
// @import './app/components/formulario/formulario.component.scss';
// @import './app/components/login/login.component.scss';
// @import './app/components/noticia/noticia.component.scss';
// @import './app/components/noticias/noticias.component.scss';
