
// Colors

$primary            : #c2185b;
$dark               : #303030 ;
$dark-trans         : rgb(255, 255, 255, 0.1);
$warn               : #f44336;
$accent             : #607d8b;
$success            : #31e981;
$white              : #fff;
$google-blue        : #4285f4;
$button-active-blue : #1669f2;