$primary: #bcd979 ;
$secondary: #7d6d61;
$dark: #191516; 

.cabecera{

    display: flex;
    background: radial-gradient(circle, $dark 40%, $primary  90%);
    box-shadow: 0 0 10px $secondary;
    justify-content: space-between;
    height: 200px;
    width: 100vw;

    ul {
        justify-content: center;
        margin: 0 0 0 3%;
        padding: 20px;
    }

    li {
        list-style: none;
        margin-top: 10px;
    }

    h1 {
        font-family: 'Italianno', cursive;
        font-weight: 100;
        font-size: 90px;
        color: white;
        text-align: center;
    }

    
}

.btn {
    background-color: $secondary;
    border: solid 0.1px $secondary;
    border-radius: 5px;
    color: white;
    padding: 10px;
    

    transition: all .4s ease-in-out;

    &:hover{
        background-color: transparent;
        color: $dark;
        cursor: pointer;
    }

}


