@import '/src/scss/colors.scss';
@import '/src/scss/buttons.scss';
.frame {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.datos{
    align-items: center;
    background-color: $dark;
    flex: 1;
    z-index: 1;
    padding: 0 0 20px 0;


    
    .datos-personales {
        background-color: $primary;
        color: white;
        display: flex;
        flex: 5;
        flex-direction: column;
        padding: 30px;

        i{
            font-size: xx-large;
            margin-bottom: 20px;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
    }
}

.confi{
    flex: 5;
    // padding: 100px;
}


@media (max-width: 1000px) {
    .frame{ flex-direction: column; }

}