<h1> Directiva personalizada </h1>

<div class="container animate__animated animate__fadeIn">

    <img 
         [ch-img]="{ 'className': 'alt-img', 'urlImg': img }" 
         src="https://images.pexels.com/photos/1202841/pexels-photo-1202841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" 
    />

    <img 
        [ch-img]="{ 'className': 'alt-img' }" 
        src="https://images.pexels.com/photos/754194/pexels-photo-754194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" 
    />

    <img 
        [ch-img]="{ 'className': 'alt-img' }"     
        src="https://images.pexels.com/photos/2029968/pexels-photo-2029968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" 
    />

</div>