
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;    
}

img {
    cursor: pointer;
    height: 60vh;

    animation: fadeIn; 
    animation-duration: 4s;

}

.alt-img{
    box-shadow: 0 0 10px white;
}
